<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div class='field'>
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  </fieldset>
  
<% end %>

<%= render "devise/shared/links" %>
