= form_for @cohort do |f|
  - if @cohort.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cohort.errors.count, "error")} prohibited this cohort from being saved:"
      %ul
        - @cohort.errors.full_messages.each do |msg|
          %li= msg

      %td= cohort.campus.try :name
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :campus_id, 'Campus'
    = f.collection_select :campus_id, @campuses, :id, :name, prompt: true
  .field
    = f.label :start_on
    = f.text_field :start_on, placeholder: 'yyyy-mm-dd', class: :datepicker
  .field
    = f.label :end_on
    = f.text_field :end_on, placeholder: 'yyyy-mm-dd', class: :datepicker
  .field
    = label_tag :students
    = hidden_field_tag 'cohort[student_ids][]'
    %ul#cohort_students
      - (@cohort.students + User.unenrolled).each do |student|
        %li
          = check_box_tag :student_ids, student.id, @cohort.students.include?(student), name: 'cohort[student_ids][]'
          = label_tag student.email
  %hr
  .field
    = label_tag :administrators, 'Admins'
    = hidden_field_tag 'cohort[administrator_ids][]'
    %ul#cohort_administrators
      - (@cohort.administrators + User.unenrolled).uniq.each do |administrator|
        %li
          = check_box_tag :administrator_ids, administrator.id, @cohort.administrators.include?(administrator), name: 'cohort[administrator_ids][]'
          = label_tag administrator.email





  .actions
    = f.submit 'Save', class: :submit_button
