%h1 Listing cohorts

%table.responsive
  %tr
    %th Name
    %th Admins
    %th
    %th
    %th

  - @cohorts.each do |cohort|
    %tr
      %td= cohort.name
      %td= cohort.administrators.map(&:email).to_sentence
      %td= link_to 'Show', cohort if can? :read, cohort
      %td= link_to 'Edit', edit_cohort_path(cohort) if can? :update, cohort
      %td= link_to 'Destroy', cohort, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, cohort

%br

= link_to 'New Cohort', new_cohort_path, class: :submit_button if can? :create, Cohort
