%h1 Listing cohorts

%table.responsive
  %tr
    %th Name
    %th Skip email reminders
    %th Users can manage email reminders
    %th Campus
    %th Admins
    %th.hide Manage

  - @cohorts.each do |cohort|
    %tr
      - if can? :read, cohort
        %td= link_to cohort.name, cohort
      - else
        %td= cohort.name
      %td= cohort.skip_email_reminders
      %td= cohort.allow_users_to_manage_email_reminders
      %td= cohort.campus.try :name
      %td= cohort.administrators.map(&:name).to_sentence
      %td.hide
        = link_to 'Edit', edit_cohort_path(cohort) if can? :update, cohort

%br

= link_to 'New Cohort', new_cohort_path, class: :submit_button if can? :create, Cohort
