%h1 Show cohort

%fieldset
    
  .field
    = label_tag :name
    = @cohort.name
  %br 

  .field
    = label_tag :campus
    = @cohort.campus.try :name
  %br 

  .field
    = label_tag :start
    = @cohort.start_on
  %br 

  .field
    = label_tag :end_on
    = @cohort.end_on
  %br 

  .field
    = label_tag :skip_email_reminders, 'Do not send email reminders', class: :skip_email_reminders
    = @cohort.skip_email_reminders
  %br 

  .field
    = label_tag :allow_users_to_manage_email_reminders, 'Allow users to manage email reminders', class: :skip_email_reminders
    = @cohort.allow_users_to_manage_email_reminders
  %br 

  -if @cohort.students.any?
    .field
      = label_tag :students
      %ul#cohort_students
        - @cohort.students.each do |student|
          %li
            = student.name
  
  -if @cohort.administrators.any?
    %hr

    .field
      = label_tag :admins
      %ul#cohort_administrators
        - @cohort.administrators.each do |administrator|
          %li
            = administrator.name

%ul#actions
  - if can? :update, @cohort
    %li
      = link_to 'Edit', edit_cohort_path(@cohort), class: :submit_button
  - if can? :destroy, @cohort
    %li
      = link_to 'Destroy', @cohort, class: :submit_button, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %li
    = link_to 'Back', cohorts_path, class: :submit_button
  
