%h1 Show cohort

%fieldset
  .field
    = label_tag :name
    = @cohort.name

  .field
    = label_tag :start
    = @cohort.start_on

  .field
    = label_tag :end_on
    = @cohort.end_on

  -if @cohort.students.any?
    .field
      = label_tag :students
      %ul#cohort_students
        - @cohort.students.each do |student|
          %li
            = student.email
  
  -if @cohort.administrators.any?
    %hr

    .field
      = label_tag :admins
      %ul#cohort_administrators
        - @cohort.administrators.each do |administrator|
          %li
            = administrator.email

%ul#actions
  - if can? :update, @cohort
    %li
      = link_to 'Edit', edit_cohort_path(@cohort), class: :submit_button
  - if can? :destroy, @cohort
    %li
      = link_to 'Destroy', @cohort, class: :submit_button, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %li
    = link_to 'Back', cohorts_path, class: :submit_button
  
