<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class='field'>
      <%= f.label :email %>
      <%= f.object.email %>
    </div>

    <br />

    <div class='field'>
      <%= f.label :cohort %>
      <% if f.object.cohort.try(:name) %>
        <%= f.object.cohort.try(:name) %>
      <% else %>
        This user is not in a cohort.
      <% end %>
    </div>

    <br />

    <div class='field'>
      <%= f.label :skip_email_reminders, 'I do not want to receive email reminders', class: :skip_email_reminders %>
      <%= f.check_box :skip_email_reminders %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <hr>
    
    <div class='field'>
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => "off" %> <i>(leave blank if you don't want to change it)</i>
    </div>

    <div class='field'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :autocomplete => "off" %>
    </div>

    <hr>

    <div class='field'>
      <%= f.label :current_password %>
      <%= f.password_field :current_password %> <i>(we need your current password to confirm your changes)</i>
    </div>

    <div class='field'><%= f.submit "Update", class: :submit_button %></div>
  </fieldset>
<% end %>
  
<% if false %>
  <%# comment-out the `cancel account` process for the moment %>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, class: :submit_button, :method => :delete %></p>
<% end %>