%h1 Listing metrics

%table.responsive
  %tr
    %th Measure
    %th.hide Active
    %th.hide
    %th.hide
    %th.hide Manage

  - @metrics.each do |metric|
    %tr
      %td= link_to metric.measure, metric
      %td.hide
        = metric.active
      %td.hide
        = link_to 'Show', metric if can? :show, metric
      %td.hide
        = link_to 'Edit', edit_metric_path(metric) if can? :edit, metric
      %td.hide
        = link_to 'Destroy', metric, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, metric

%br

= link_to 'New Metric', new_metric_path, class: :submit_button
