
%fieldset
  .field
    = label_tag :measure 
    = @metric.measure
  %br

  .field
    = label_tag :active
    = @metric.active

%ul#actions
  %li= link_to 'Edit', edit_metric_path(@metric), class: :button
  %li= link_to 'Back', metrics_path, class: :button
