%h1 Listing users

%table#mobile.responsive
  %tr#administering
    %td Admin

%table.responsive
  %tr
    %th Name
    %th.hide Email
    %th.hide Skip Reminders?
    %th.hide Cohort
    %th.hide Administering
    %th.hide Manage

  - @users.each do |user|
    %tr{:class => ('admin' if user.administered_cohorts.map(&:name).any?)}
      %td= link_to user.name, user
      %td.hide
        = user.email
      %td.hide
        = user.skip_email_reminders
      %td.hide
        = user.cohort.try(:name)
      %td.hide
        = user.administered_cohorts.map(&:name).to_sentence
      %td.hide
        = link_to 'Show', user
      %td.hide
        = link_to 'Edit', edit_user_path(user) if can? :update, user

%br

= link_to 'Invite User', new_user_invitation_path, class: :submit_button
