<h1><%= t "devise.invitations.new.header" %></h1>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div>
      <%= f.label field %><br />
      <%= f.text_field field %>
    </div>
  <% end -%>

  <div>
    <%= f.label :cohort_id, 'Cohort' %><br />
    <%= f.collection_select :cohort_id, @cohorts, :id, :name %>
  </div>

  <p><%= f.submit t("devise.invitations.new.submit_button"), class: :submit_button %></p>
<% end %>
