- content_for :header do
  = javascript_include_tag 'answer_set_index'

%h1 Listing Answer Sets

=form_tag answer_sets_path, method: :get do

  .field
    = label_tag :from_date
    = text_field_tag :from_date, params[:from_date]

  .field
    = label_tag :to_date
    = text_field_tag :to_date, params[:to_date]

  .field
    - granularity_options = %w(metric person)
    - granularity_options << 'class' if can?(:granularity_by_class, AnswerSet)
    = label_tag :granularity
    = select_tag :granularity, options_for_select(granularity_options, params[:granularity])

  .field
    - group_options = %w(moment hour day week)
    = label_tag :group
    = select_tag :group, options_for_select(group_options, params[:group])

  .controls
    = submit_tag "refresh chart"


#myChart{height: 400 }

=content_tag :div, "", id: "line-chart", data: {data: @data.to_json, keys: @keys.to_json, labels: @labels, x_labels: @x_labels}


%section#comments
  - answer_sets = @answer_sets.with_comments.group_by{|a|a.created_at.to_date}
  - answer_sets.keys.each do |date|
    %h2 Comments on #{date}
    - answer_sets[date].each do |answer_set|
      %article
        - if current_user.admin?
          %p= answer_set.user.email
        %dl
          %ul
            - answer_set.answers.each do |answer|
              - if answer.comments.present?
                %li
                  =answer.metric.measure
                  =answer.comments





