<!DOCTYPE html>
<html>
<head>
  <title>MoodSwings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= content_for :header %> 

  <%= csrf_meta_tags %>
</head>
<body>

<div class="banner">
  <div class="masthead">
    <%= link_to image_tag("ga-lockup.png"), root_path %>
    <%#= link_to image_tag('general-assembly.svg'), "#navigation", class: :skip %>
  </div>

  <div id='nav_container'>
    <% if signed_in? %>
      <ul>
        <li>Hey, <%= current_user.email %></li>
        <li>
          <%= link_to 'historic moods', answer_sets_path %>
        </li>
        <% if can? :read, Metric %>
          <li>
            <%= link_to 'metrics', metrics_path %>
          </li>
        <% end %>
        <% if can? :read, Cohort %>
          <li>
            <%= link_to 'cohorts', cohorts_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'my profile', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% else %>
      <%= link_to 'sign in', new_user_session_path %>
    <% end %>
  </div>

</div>

<div id="page_content">
  <div id="notices">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
  <% if 'HomeController' == controller.class.name %><%# gross stink... TODO: either yield specific content_for or setup different layouts%>
    <header>
      <h1>Welcome to the Mood&nbsp;Machine</h1>
    </header>
  <% end %>

  <%= yield %>

  <%= render partial: 'layouts/footer' %>

</div>

</body>
</html>
