<!DOCTYPE html>
<html>
<head>
  <title>MoodSwings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= content_for :header %> 

  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header>
    <nav>
      <%= link_to image_tag("ga-lockup.png"), root_path, class: "logo" %>
      <ul id="menu">
        <% if signed_in? %>
          <li class="greeting">
            Hey, <%= current_user.email %>
          </li>
          <li class="dropdown">
            <a href="#">Manage <span>&nbsp;&#9662;</span></a>
            <ul>
              <li>
                <%= link_to 'Historic Moods', answer_sets_path %>
              </li>
              <% if can? :invite, User %>
                <li>
                  <%= link_to 'Invite', new_user_invitation_path %>
                </li>
              <% end %>
              <% if can? :read, Metric %>
                <li>
                  <%= link_to 'Metrics', metrics_path %>
                </li>
              <% end %>
              <% if can? :read, Cohort %>
                <li>
                  <%= link_to 'Cohorts', cohorts_path %>
                </li>
              <% end %>
              <% if can? :read, User %>
                <li>
                  <%= link_to 'Users', users_path %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'My Profile', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        <% end %>
        </ul>
        <a id="nav-icon" href="#"></a>
    </nav>
  </header>

  <main>
  <div id="page_content">
    <div id="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <% if 'HomeController' == controller.class.name %><%# gross stink... TODO: either yield specific content_for or setup different layouts%>
      <h1 class="tagline">Welcome to the Mood&nbsp;Machine</h1>
    <% end %>

    <%= yield %>
  </div>
  </main>

<div class="push"></div>
</div>
<%= render partial: 'layouts/footer' %>

</body>
</html>
